EIA_API_KEY=replace_me

POSTGRES_USER=platform
POSTGRES_PASSWORD=platform
POSTGRES_DB=platform

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://platform:platform@postgres:5432/platform
AIRFLOW__CORE__FERNET_KEY=dN99aKu4rQ9R5dcf5n8v8fRC4v6kRDeo63eNbUsVTN4=
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_WWW_USER_CREATE=true
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin
AIRFLOW_WWW_USER_FIRSTNAME=Airflow
AIRFLOW_WWW_USER_LASTNAME=Admin
AIRFLOW_WWW_USER_EMAIL=admin@example.com
AIRFLOW_BACKFILL_SCHEDULE=*/5 * * * *
AIRFLOW_PLATINUM_GRID_OPERATIONS_SCHEDULE=15,45 * * * *
AIRFLOW_PLATINUM_RESOURCE_PLANNING_SCHEDULE=15,45 * * * *
APP_TIMEZONE=America/New_York

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=minio:9000

KAFKA_BROKER=kafka:9092
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
ADMIN_APP_API_CACHE_TTL_SECONDS=300
ADMIN_APP_QUERY_TIMEOUT_SECONDS=60
ADMIN_APP_DEFAULT_DAYS=7
