EIA_API_KEY=replace_me

POSTGRES_USER=platform
POSTGRES_PASSWORD=platform
POSTGRES_DB=platform

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://platform:platform@postgres:5432/platform
AIRFLOW__CORE__FERNET_KEY=dN99aKu4rQ9R5dcf5n8v8fRC4v6kRDeo63eNbUsVTN4=
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_WWW_USER_CREATE=true
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

KAFKA_BROKER=kafka:9092
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
