docs/
.env
.env.*
!.env.example
venv311/
__pycache__/
*.pyc

# Python
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# IDE/editor
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
airflow/logs/